@media(min-width:200px) and (max-width:450px) {
    .nav-links {
        display: none
    }

    /* Mobile visibility Menu  */
    .mob-visibility-menu {
        display: inline-block;
        padding: 2%;
    }

    .mob-visibility-menu>#mob-menu-bars {
        font-size: 2.2rem;
    }

    /* Main Section 1 content  */
    .main-sec-1-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-sec1-post-content {
        width: 100%;
        position: static;
    }

    .main-sec1-header {
        width: 100%;
        padding: 1%;
        gap: 30px;
        margin-bottom: 10%;
    }

    .main-sec2-head>h3 {
        margin: 0%;
        font-family: var(--pri-font);
        font-size: 1.5rem;
        font-weight: 600;
    }

    .main-sec2-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .main-sec2-head {
        width: 100%;
    }

    /* Section 2 Boxes  */
    .sec2-boxes {
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sec2-boxes>.box{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}